body {
	background-color: rgb(255, 175, 70);
}
.grid {
	height: 606px;
	display: flex;
	flex-wrap: wrap;
}

.square {
	margin: 5px;;
	height: 200px;
	width: 200px;
	background-color: rgb(228, 228, 228);
	border-radius: 50%;
	
}

.mole {
	background-image: url("mole.png");
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
}
